/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}


nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}


/* Code CSS à ajouter */

.filtres {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	gap: 10px;
}

.filtres button {
	padding: 5px 15px;
	border-radius: 25px;
	border: 2px solid #1D6154;
	background-color: white;
	color: #1D6154;
	font-weight: 700;
	cursor: pointer;
	transition: background-color 0.3s ease;

}

.filtres button:hover,
.filtres button:active,
.filtres button:focus {
	background-color:#1D6154; 
	color: white;

}

.filtres .selected {
	background-color:#1D6154; 
	color: white;

}





li a {
	text-decoration: none;
	color: black;
}

h3 {
	text-align: center;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	margin-bottom: 15px;

}


.form-login {
	width: 300px;
	margin: 0 auto;
	padding: 20px;

}

.form-login input[type="email"],
.form-login input[type="password"] {
	width: 100%;
	padding: 15px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin: 0.4em 0 2em 0;
}

#btnlogin {
	width: 50%;
	padding: 7px;
	background-color: #1D6154;
	color: white;
	border: none;
	border-radius: 15px;
	font-size: 15px;
	margin-left: 75px;

}

span a {
	display: flex;
	justify-content: center;
	color: black;


}

#editBtn {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

#galleryDelPhotos {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	padding-left: 52px;
	
}

#galleryDelPhotos div {
	width: 80px;
	position: relative;
	display: inline-block;
}

#galleryDelPhotos img {
	width: 100%;
	height: 100px;
	object-fit: cover;
	
}

.fa-trash {
	position: absolute;
	top: 5px;
	right: 5px;
	color: white;
	cursor: pointer;
	background-color: black;
	padding: 5px;
	border-radius: 10%;
	transition: background-color 0.3s ease;
	
}

.fa-trash:hover {
	background-color: rgba(255, 0, 0, 0.5);

}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Style Modal */

#modal {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	flex-direction: column;
}

.modal-h2 {
	color: black;
	top: 40px;

}

#modal-gallery,
#modal-form {
	display: none;
	width: 550px;
	height: 690px;
	background: white;
	flex-direction: column;
	align-items: center;
	gap: 45px;
}

#closeBtn,
#closeBtn1 {
	left: 230px;
	position: relative;
	top: 30px;
	font-weight: 900;
	cursor: pointer;
	
}

#backBtn {
	display: flex;
	position: relative;
	right: 230px;
	top: -30px;
	cursor: pointer;
}

#addPhotoBtn {
	width: 50%;
	padding: 7px;
	background-color: #1D6154;
	color: white;
	border: none;
	border-radius: 15px;
	font-size: 15px;
	cursor: pointer;

}

.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.upload-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 40px;
	margin-bottom: 20px;
	width: 300px;
	height: 100px;
	background-color: #E8F1F6;
	
}

.upload-label {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.upload-icon {
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
	
}

.ajoutPhoto {
	border: 2px solid #CBD6DC;
	border-radius: 15px;
	background-color: #CBD6DC;
	padding: 7px;
	width: 50%;
	color: #3a6d8a;
	font-weight: bold;
}

.format {
	font-size: 10px;
	margin-top: 5px;

}

.hidden-input {
	display: none;
}

.title {
	font-weight:500;
	position: relative;
	right: 178px;
}

.cat {
	font-weight:500;
	position: relative;
	right: 165px;
}

.modal-content input[type="text"] {
	width: 90%;
	padding: 15px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin: 0.4em 0 2em 0;
}

.modal-content select[ id="categorySelect"] {
	width: 98%;
	padding: 15px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin: 0.4em 0 2em 0;

}


#submitPhotoBtn {
    width: 50%;
    padding: 7px;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 15px;
	cursor: pointer;
}

